* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  font-family: 'IBM Plex Sans', sans-serif;
}

.hidden{
  display: none;
}

.mobile-on{
  display: none;
}

.eng-para{
  font-size: 1.9rem;
  line-height: 2.8rem;
}

.hindi-para{
  font-family: 'Mukta', sans-serif;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.3;
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;

}

.mdl {
  position: absolute;
  top: 10rem;
  /* bottom: 0; */
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 83%;
  /* height: 791px; */
  height: auto;
  background-color: #fff;
  
  padding: 4rem 5rem;
  padding-bottom: 0;
  z-index: 200;
  transition: all 0.5s;
  border-radius: .8rem;
}


.mdl-header{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 30%;
}

.mdl-header-left{
  width: 60%;
  margin-bottom: auto;
  padding-top: 2.5  rem;
}

.first-para{
  margin-bottom: 1rem;
}

.mdl-header-right{
  height: 20rem;
  width: 60%;
}
.mdl-header img{
  width: 100%;
  height: 100%;
  object-fit: fill;
  position: relative;
  top: -2.2rem;
}

.mdl-header h1{
  font-size: 3.3rem;
  line-height: 3.6rem;
  margin-bottom: 1.2rem;
}



.close-mdl{
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-100%, 100%);
  height: 2.4rem;
  width: 2.4rem;
  cursor: pointer;
}

.mdl-rate-section{
  padding: 3rem 3rem ;
  position: relative;
  top: -3.2rem;
  background: linear-gradient(180deg, #FFFFFF, #F1F6FE );
  border: 1px solid rgba(30, 84, 176, 0.65);
  border-radius: 5px;
  margin-bottom: 3rem;
}

.rating-scale{
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  flex-grow: 0;
  flex-shrink: 0;
  margin: .7rem 0;
  margin-bottom: 1.5rem;
}

.rating-num{
  height: 6.5rem;
  width: 6.5rem;
  border-radius: 100%;
  /* margin: 1rem ; */

  font-size: 2.6rem;
  font-weight: 500;
  cursor: pointer;
}

.red{
  background-color: #FFB7AE;
  border: 1px solid #FF1F00;
}

.red:active, .red:focus{
  background-color: #FF1F00;
  color: #FFF;
  transition: all 0.5s;
}

.orange{
  background-color: #FFF7AA;
  border: 1px solid #FFE600;
}


.orange:active, .orange:focus{
  background-color: #FFE600;
  color: #FFF;
  transition: all 0.5s;
}


.green{
  background-color: #B2F8B6;
  border: 1px solid #00AE0C;
}
.green:active, .green:focus{
  background-color: #00AE0C;
  color: #FFF;
  transition: all 0.5s;
}

.third-para{
  font-size: 1.9rem;
  margin-bottom: .7rem;
}

.fourth-para{
  margin-bottom: 1.3rem;
}
.rating-scale-description{
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  line-height: 2.1rem;
  color: #545454;
  /* background-color: #000; */
  /* margin-bottom: 1.7rem; */
}
.rating-scale-description-laptop{
  margin-bottom: 2rem;
}



#suggestion{
  width: 100%;
  padding: 1rem 1rem;
  border: 1px solid #d2d2d2;
  font-size: 1.6rem;
}
textarea::placeholder {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.6rem;

}
textarea:focus, input:focus{
  outline: none;
}
#max-200{
  position: relative;
  float: right;
  font-size: 1.4rem;
  right: 1rem;
  bottom: 3rem;
  color: #545454;
}

.submit-btn{
  margin: 0 auto;
  width: 20rem;
  height: 5rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  background-color: #1e54b0;
  border: none;
  border-radius: .5rem;
  display: block;
  cursor: pointer;

  position: relative;
  top: -3.8rem;
  margin-bottom: 1.2rem;
  
}

.mobile-on{
  display: none;
}


/* -------------- modal 2 css------------- */

.mdl2 {

  position: absolute;
  top: 10rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 75%;
  /* height: 722px; */
  height: auto;
  background-color: #fff;
  z-index: 200;
  transition: all 0.5s;
  border-radius: .8rem;
  padding: 5rem 5rem;
  
  text-align: center;

  
}
.close-mdl2{
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-100%, 100%);
  height: 2.4rem;
  width: 2.4rem;
  cursor: pointer;
}
.mdl2-header{
  height: 30%;
}

.feedback-thanks-img{
  width: 42rem;
  height: 20rem;
  /* z-index: 102; */
}

.thankyou-heading{
  
  font-size: 2.8rem;
  /* margin-bottom: 1rem; */
  line-height: 3.6rem;
  position: relative;
  top: -1rem;
}


.thankyou-eng-para{
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;

  position: relative;
  top: -1rem;

  margin-bottom: .3rem;
}
.thankyou-hindi-para{
  font-size: 1.9rem;

  position: relative;
  top: -1rem;
}






.feedback-hr{
  margin-top: 2rem;
  margin-bottom: 2.3rem;
  border: .5px solid #d2d2d2;
}

.feedback-hr-2{
  margin-top: 1rem;
  margin-bottom: 3rem;
  border: .5px solid #d2d2d2;
}

.bold{
  font-weight: 600;
}

.avail-heading{
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

.avail-para{
  font-size: 2rem;
  margin-bottom: .7rem;
}
.valid-para{
  font-size: 1.6rem;
  color: #545454;
  margin-bottom: 2rem;
}

.t-and-c{
  color: #858585;
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

.reedem-btn{
  margin: 0 auto;
  width: 20rem;
  height: 5rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  background-color: #1e54b0;
  border: none;
  border-radius: .5rem;
  display: block;
  cursor: pointer;

}


/* -------------media quries---------- */
@media(max-width:1260px){

  .mdl-header img{
    top: -2rem;
  }
}
@media(max-width:1215px){

  .mdl-header h1{
    font-size: 3rem;
  }
  .mdl-header img{
    top: -1.5rem;
  }
}
@media(max-width:1120px){

  .mdl-header img{
    top: -1rem;
  }
  .mdl-header h1{
    font-size: 2.6rem;
    line-height: 3rem;
  }
  .eng-para{
    font-size: 1.7rem;
    line-height: 2.6rem;
  }
  
  .hindi-para{
    font-family: 'Mukta', sans-serif;
    font-size: 1.7rem;
    line-height: 2.2rem;
  }
}

@media(max-width:1024px){

  .mobile-off{
    display: none;
  }
  .mobile-on{
    display: block;
  }
  .mdl-header{
    display: block;
    text-align: center;
  }

  .mdl-header-left{
    width: 100%;
  }

  .mdl-header-right{
    width: 100%;
    height: 17rem;
  }
  .mdl-rate-section {
    position: static;
  }

  .submit-btn {
    position: static;
    margin-bottom: 3rem;
    height: 4.3rem;
  }

  .mdl2{
    padding: 3rem;
  }
  
}



@media(max-width:850px){
  .feedback-thanks-img{
    width: 35.5rem;
    height: 17.5rem;
  }
  .thankyou-heading{
    font-size: 2.4rem;
    line-height: 3rem;
    margin-bottom: .6rem;
  }
  .thankyou-eng-para{  
    font-size: 1.8rem;
    line-height: 2.6rem;
    margin-bottom: 0;
  }
  .feedback-hr{
    margin-top: 1.4rem;
    margin-bottom: 1.9rem;
    border: .5px solid #d2d2d2;
  }
  .feedback-hr-2{
    margin-top: .5rem;
    margin-bottom: 2.4rem;
    border: .5px solid #d2d2d2;
  }
  .avail-heading{
    font-size: 2rem;
    margin-bottom: 1.7rem;
  }

  .avail-para{
    font-size: 1.8rem;
    margin-bottom: .6rem;
  }
  .valid-para{
    font-size: 1.5rem;
    margin-bottom: 1.7rem;
  }
  
  .t-and-c{
    color: #858585;
    font-size: 1.3rem;
    margin-bottom: 2.5rem;
  }
  .reedem-btn{
    width: 20rem;
    height: 4.5rem;
  }
  .rating-scale-description {
    font-size: 1.5rem;
  }

}



@media(max-width:768px){

  .mdl{
    padding: 3rem 3.5rem;
    padding-bottom: 0;
  }
  .mdl-header-right{
    width: 100%;
    height: 15rem;
  }
  .mdl-header-right{
    height: 13.5rem;
  }

  .mdl-header h1{
    font-size: 2.2rem;
    line-height: 2.5rem;
  }
  .eng-para{
    font-size: 1.5rem;
    line-height: 2.1rem;
  }
  .mdl-rate-section {
    padding: 2.4rem 2.4rem;
    margin-bottom: 2.4rem;
  }
  .rating-num{
    height: 5.5rem;
    width: 5.5rem;
    font-size: 1.8rem;
  }
  .rating-scale{
    margin: 0;
  }
  .rating-scale1{
    margin-bottom: 1rem;
    margin-top: 1.5rem;
  }
  .rating-scale2{
    margin-bottom: 1rem;
  }
  
  .close-mdl, .close-mdl2{
    height: 2.1rem;
    width: 2.1rem;
  }
  #max-200{
    position: relative;
    float: right;
    font-size: 1.2rem;
    right: 1rem;
    bottom: 3rem;
  }
  textarea::placeholder {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.4rem;
  
  }



  .mdl2{
    width: 85%;
  }
}


@media(max-width:700px){

  .mdl, .mdl2{
    width: 90%;
  }
  .rating-num{
    height: 5rem;
    width: 5rem;
  }
  .rating-scale-description {
    font-size: 1.4rem;
  }
}
@media(max-width:550px){

  .mdl, .mdl2{
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 2.2rem 2.5rem;
    padding-bottom: 0;
  }
  .mdl-header-right{
    height: 10rem;
  }
  .mdl-header h1{
    font-size: 1.8rem;
    line-height: 2rem;
    margin-bottom: .8rem;
  }
  .eng-para{
    font-size: 1.3rem;
    line-height: 1.5rem;
    /* margin-bottom: .8rem; */
  }

  .mdl-rate-section {
    padding: 1.2rem 1.6rem;
    margin-bottom: 1.6rem;
  }
  .rating-scale1{
    margin-top: 1rem;
  }
  .rating-num{
    height: 4.5rem;
    width: 4.5rem;
    font-size: 1.6rem;
  }
  .close-mdl, .close-mdl2{
    height: 1.8rem;
    width: 1.8rem;
  }
  .submit-btn{
    margin-bottom: 2.2rem;
    height: 4rem;
    font-size: 1.4rem;
    font-weight: 400;
    width: 100%;
  }



  #max-200{
    position: relative;
    float: right;
    font-size: 1rem;
    right: 1rem;
    bottom: 3rem;
  }
  textarea::placeholder {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.2rem;
  }
  #suggestion{
    height: 10rem;
  }

  .rating-scale-description {
    font-size: 1.4rem;
  }





  .feedback-thanks-img{
    width: 25.5rem;
    height: 12.5rem;
  }
  .thankyou-heading{
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: .3rem;
  }
  .thankyou-eng-para{
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  .feedback-hr{
    margin-top: .8rem;
    margin-bottom: 1.4rem;
    border: .5px solid #d2d2d2;
  }
  .feedback-hr-2{
    margin-top: .3rem;
    margin-bottom: 1.9rem;
    border: .5px solid #d2d2d2;
  }
  .avail-heading{
    font-size: 1.7rem;
    margin-bottom: 1.2rem;
  }

  .avail-para{
    font-size: 1.5rem;
    margin-bottom: .5rem;
  }
  .valid-para{
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
  }
  
  .t-and-c{
    color: #858585;
    font-size: 1.1rem;
    margin-bottom: 1.7rem;
  }
  .reedem-btn{
    width: 100%;
    height: 3.7rem;
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
  }


}

@media(max-width:450px){

  .mdl, .mdl2{
    padding: 1.6rem 1.6rem;
    padding-bottom: 0;
    position: static;
    position: absolute;
    top: auto;
    bottom: 0;
  }

  .mdl-header h1{
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .eng-para{
    font-size: 1.3rem;
    line-height: 1.5rem;
  }

  .rating-num{
    height: 4rem;
    width: 4rem;
    font-size: 1.4rem;
  }
  .close-mdl, .close-mdl2{
    height: 1.6rem;
    width: 1.6rem;
  }
  .submit-btn{
    margin-bottom: 1.6rem;
    height: 3.6rem;
  }
  .rating-scale-description {
    font-size: 1.2rem;
  }
}

@media(max-width:400px){
  .feedback-thanks-img{
    width: 25.5rem;
    height: 12.5rem;
  }
  .thankyou-heading{
    font-size: 1.6rem;
    line-height: 2.1rem;
    margin-bottom: .8;
  }
  .thankyou-eng-para{
    font-size: 1.2rem;
    line-height: 1.8rem;
    
  }
  .feedback-hr{
    margin-top: .3rem;
    margin-bottom: 1.1rem;
    border: .5px solid #d2d2d2;
  }
  .feedback-hr-2{
    margin-top: 0rem;
    margin-bottom: 1.6rem;
    border: .5px solid #d2d2d2;
  }
  .avail-heading{
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .avail-para{
    font-size: 1.3rem;
    margin-bottom: .5rem;
  }
  .valid-para{
    font-size: 1.1rem;
    margin-bottom: .8rem;
  }
  
  .t-and-c{
    color: #858585;
    font-size: 1.1rem;
    margin-bottom: 1.6rem;
  }
  .rating-scale-description {
    font-size: 1.1rem;
  }
  .submit-btn, .reedem-btn{
    font-size: 1.2rem;
  }

}

@media(max-width:350px){
  .rating-scale-description {
    font-size: 1rem;
  }
}